<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}

    <p>This site was created by someone. It uses data from mapbox.com and weather api.</p>

    <img src="/img/library.png" alt="vampire" class="portrait">

    {{>footer}}
</body>
</html>