<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}

    <img src="/img/library.png" alt="vampire" class="portrait">

    {{>footer}}
</body>
</html>